.pudim {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  color: rgb(15, 15, 17);
  background-color: aqua;
}

.pudim2 {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  color: rgb(15, 15, 243);
  background-color: rgb(238, 255, 0);
}


.calda {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  color: rgb(243, 15, 61);
  background-color: rgb(0, 255, 64);
}